<!-- author : SURYA RAJ KP -->

<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        
        <br/>
        <h2>Create a new orderLine </h2>
        <br/>
          <div class="content">
            <div>
              <form name="orderLine" method="POST" action="/orderLine/save">
  
                <div class="form-group" id=frm>
                  <label for="_id">ID</label>
                  <input type="number" class="form-control" id="_id" name="_id" value="<%= 1 %>" required readonly>
                </div>
  
                <!-- COMMON TO EDIT AND CREATE -->
                <%include partial_edit.ejs%>
  
                  <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                  </div>
              </form>
  
              <br/>
  
              <form method="get" action="/orderLine">
                <input type="submit" value="Return to list" class="btn btn-caution" />
              </form>
  
            </div>
          </div>
      </div>
    </div>
  </div>