<!-- Author : SURYA RAJ KP -->
<br/>
<br/>
<h2>Confirm deletion of orderLine</h2>
<br/>
<br/>  ID:
<%=  orderLine._id %>
  <br> orderID:
  <%=orderLine.orderID%>
    <br/> lineNumber:
    <%=orderLine.lineNumber%>
      <br/> productKey:
      <%=orderLine.productKey%>
      <br/> quantity:
      <%=orderLine.quantity%>
        <br/>
        <br/>
            <form method="get" action="/orderLine">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/orderLine/delete/<%= orderLine._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
