<!-- Author :  SURYA RAJ KP-->
<br />
<br />
<h2>orderLine details</h2>
<br />
<br /> ID:
<%=  orderLine._id %>
<br> orderID:
<%=orderLine.orderID%>
<br /> lineNumber:
<%=orderLine.lineNumber%>
<br /> productKey:
<%=orderLine.productKey%>
<br /> quantity:
<%=orderLine.quantity%>
<br />
<br />
<br />
<form method="get" action="/orderLine">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>