<!-- author : SURYA RAJ KP -->
<br />
<br />
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="orderLine/create" class="btn btn-primary new">
        Create a new
      </a>
      <h2>Recent entries</h2>
      <p>There are
        <%= orderLine.query.length %> orderLine.
        <br />
      </p>
      <% for (var i = orderLine.query.length-1; i >= 0; i--) {   
        orderLin = orderLine.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=  orderLin._id %>
          <br> orderID:
          <%=orderLin.orderID%>
          <br /> lineNumber:
          <%=orderLin.lineNumber%>
          <br /> productKey:
          <%=orderLin.productKey%>
          <br /> quantity:
          <%=orderLin.quantity%>
          <br />
          <br />
          <br />
          <br />
          <a href="/orderLine/delete/<%= orderLin._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/orderLine/details/<%= orderLin._id %>" class="btn btn-info"> Details </a>
          <a href="/orderLine/edit/<%= orderLin._id %>" class="btn btn-warning"> Edit </a>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>