<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="orderID">orderID</label>
        <input type="number" class="form-control" id="name" name="orderID" value="<%= orderLine.orderID %>" required>
      </div>
      <div class="form-group">
        <label for="lineNumber">lineNumber</label>
        <input type="number" class="form-control" id="breed" name="lineNumber" value="<%= orderLine.lineNumber %>">
      </div>
      <div class="form-group">
        <label for="productKey">productKey</label>
        <input  type="text" class="form-control" id="age" name="productKey" value="<%= orderLine.productKey %>" required>
      </div>
  
      <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="number" class="form-control" id="age" name="quantity" value="<%= orderLine.quantity %>" required>
      </div>

  
  
  
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  
  
  </div>