<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li >
          <a href="https://alladi-1.herokuapp.com/">Alladi Sri Anurag Sai </a>
        </li>
        <li >
          <a href="https://fakki.herokuapp.com/">mushafiq fakki</a>
        </li>
        <li >
          <a href="https://a3project.herokuapp.com/">naveenlagudu</a>
        </li>
        <li >
          <a href="https://guarded-sierra-49578.herokuapp.com/index">SURYA RAJ K P </a>
        </li>
    </ul>
  </li>