</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy;2018 - 2019</p>
    <p class="text-muted"><a href="https://bitbucket.org/S533567/ourstore/src/master/">Repository</a></p>
  </div>
</footer>