<div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ourStore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/customer">Customer</a>
            </li>
            <li>
              <a href="/order">Order</a>
            </li>
            <li>
              <a href="/product">Product</a>
            </li>
            <li>
              <a href="/orderLine">OrderLineItem</a>
            </li>
           
            <% include about.ejs %>
          </ul>
  
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>
  </div>