<style>
a{color:#fff;font-weight:bold;}
</style>
<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
<div style="width:100%;color:#fff;font-weight: bold;">
<div style="width:48%;float:left">
<h3>Customer</h3>
<a href="https://ourstore-a04.herokuapp.com/customer">https://ourstore-a04.herokuapp.com/customer</a><br>
<a href="https://ourstore-a04.herokuapp.com/customer/delete/2">https://ourstore-a04.herokuapp.com/customer/delete/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/customer/details/2">https://ourstore-a04.herokuapp.com/customer/details/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/customer/edit/2">https://ourstore-a04.herokuapp.com/customer/edit/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/customer/create">https://ourstore-a04.herokuapp.com/customer/create</a><br>
<a href="https://ourstore-a04.herokuapp.com/customer/findall">https://ourstore-a04.herokuapp.com/customer/findall</a><br>
<a href="https://ourstore-a04.herokuapp.com/customer/findone/1">https://ourstore-a04.herokuapp.com/customer/findone/1</a>
<h3>Order</h3>
<a href="https://ourstore-a04.herokuapp.com/order">https://ourstore-a04.herokuapp.com/order</a><br>
<a href="https://ourstore-a04.herokuapp.com/order/delete/2">https://ourstore-a04.herokuapp.com/order/delete/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/order/details/2">https://ourstore-a04.herokuapp.com/order/details/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/order/edit/2">https://ourstore-a04.herokuapp.com/order/edit/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/order/create">https://ourstore-a04.herokuapp.com/order/create</a><br>
<a href="https://ourstore-a04.herokuapp.com/order/findall">https://ourstore-a04.herokuapp.com/order/findall</a><br>
<a href="https://ourstore-a04.herokuapp.com/order/findone/1">https://ourstore-a04.herokuapp.com/order/findone/1</a>

</div>
<div style="width:48%;float:left">
<h3>Products</h3>
<a href="https://ourstore-a04.herokuapp.com/product">https://ourstore-a04.herokuapp.com/product</a><br>
<a href="https://ourstore-a04.herokuapp.com/product/delete/2">https://ourstore-a04.herokuapp.com/product/delete/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/product/details/2">https://ourstore-a04.herokuapp.com/product/details/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/product/edit/2">https://ourstore-a04.herokuapp.com/product/edit/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/product/create">https://ourstore-a04.herokuapp.com/product/create</a><br>
<a href="https://ourstore-a04.herokuapp.com/product/findall">https://ourstore-a04.herokuapp.com/product/findall</a><br>
<a href="https://ourstore-a04.herokuapp.com/product/findone/1">https://ourstore-a04.herokuapp.com/product/findone/1</a>
<h3>OrderLine</h3>
<a href="https://ourstore-a04.herokuapp.com/orderLine">https://ourstore-a04.herokuapp.com/orderLine</a><br>
<a href="https://ourstore-a04.herokuapp.com/orderLine/delete/2">https://ourstore-a04.herokuapp.com/orderLine/delete/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/orderLine/details/2">https://ourstore-a04.herokuapp.com/orderLine/details/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/orderLine/edit/2">https://ourstore-a04.herokuapp.com/orderLine/edit/2</a><br>
<a href="https://ourstore-a04.herokuapp.com/orderLine/create">https://ourstore-a04.herokuapp.com/orderLine/create</a><br>
<a href="https://ourstore-a04.herokuapp.com/orderLine/findall">https://ourstore-a04.herokuapp.com/orderLine/findall</a><br>
<a href="https://ourstore-a04.herokuapp.com/orderLine/findone/1">https://ourstore-a04.herokuapp.com/orderLine/findone/1</a>

</div>

</div>




        <h1>ourStore</h1>
       <div class="lay" style="background:rgb(39, 223, 137);">
  
        <p>There are
          <%= customers.query.length %> customers.
            <br/>
        </p>
        <% for (var i = customers.query.length-1; i >= 0; i--) {   
          customer = customers.query[i];   %>
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="text-muted pull-right"></div>
            <div class="panel-body">
              ID:
              <%=  customer._id %>
                <br> Email:
                <%=customer.email%>
                  <br/> Given Name:
                  <%=customer.given%>
                    <br/> Family Name:
                    <%=customer.family%>
                    <br/> Address:
                    <br/>Street 1:
                    <%=customer.street1%>
                    </br>Street 2:
                    <%=customer.street2%>
                  </br>City:
                  <%=customer.city%>
                </br>State:
                <%=customer.state%>
              </br>Zip:
              <%=customer.zip%>
              <br/>
              <%=customer.country%>
  
        
            </div>
          </div>
          <% } %>
  <center><a href="/customer" class="btn btn-info">Open Customer Data</a></center>
  
  
       </div>
       <div class="lay" style="background:#C06C84;">
  
  
        <p>There are
          <%= orders.query.length %> orders.
            <br/>
        </p>
        <% for (var i = orders.query.length-1; i >= 0; i--) {   
          order = orders.query[i];   %>
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="text-muted pull-right"></div>
            <div class="panel-body">
              ID:
              <%=  order._id %>
                <br> Email:
                <%=order.email%>
                  <br/> datePlaced:
                  <%=order.datePlaced%>
                    <br/> dateShipped:
                    <%=order.dateShipped%>
                    <br/> paymentType:
                    <%=order.paymentType%>
                    </br>amountDue:
                    <%=order.amountDue%>
                  </br>paid:
                  <%=order.paid%>
  
            </div>
          </div>
          <% } %>
  
          <center><a href="/order" class="btn btn-info">Open Orders Data</a></center>
       </div>
       <div class="lay" style="background:#6C5B7B;">
  
        <p>There are
          <%= products.query.length %> products.
            <br/>
        </p>
        <% for (var i = products.query.length-1; i >= 0; i--) {   
          product = products.query[i];   %>
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="text-muted pull-right"></div>
            <div class="panel-body">
              ID:
              <%=  product._id %>
                <br> productKey:
                <%=product.productKey%>
                  <br/> description:
                  <%=product.description%>
                    <br/> unitPrice:
                    <%=product.unitPrice%>
                   
            </div>
          </div>
          <% } %>
  
          <center><a href="/product" class="btn btn-info">Open Products Data</a></center>
  
       </div>
       <div class="lay" style="background:#355C7D;">
  
        <p>There are
          <%= orderLine.query.length %> orderLine.
            <br/>
        </p>
        <% for (var i = orderLine.query.length-1; i >= 0; i--) {   
          orderLin = orderLine.query[i];   %>
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="text-muted pull-right"></div>
            <div class="panel-body">
              ID:
  <%=  orderLin._id %>
    <br> orderID:
    <%=orderLin.orderID%>
      <br/> lineNumber:
      <%=orderLin.lineNumber%>
        <br/> productKey:
        <%=orderLin.productKey%>
        <br/> quantity:
        <%=orderLin.quantity%>
        
            </div>
          </div>
          <% } %>
  
          <center><a href="/orderLine" class="btn btn-info">Open orderLineItems Data</a></center>
  
  
       </div>
  <style>
  body{background:rgba(13, 148, 172, 0.767);}
  .lay{width:45%;height:auto;border:1px solid;float:left;margin-right: 24px;}
  </style>
  
  
      </div>
    </div>
  </div>