<!-- Author : sri Anurag sai Alladi -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="order/create" class="btn btn-primary new">
        Create a new order
      </a>
      <h2>Recent order entries</h2>
      <p>There are
        <%= orders.query.length %> orders.
    </p>
    <% for ( let i = 0; i < orders.query.length; i++) {   
      order = orders.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=order._id %>
          <br> Email:
          <%=order.email %>
        </br>
          <br> datePlaced:
          <%=order.datePlaced%>
        </br>
          <br> dateShipped:
            <%=order.dateShipped%>
        </br>
        <br>paymentType:
            <%=order.paymentType%>
        </br>
           <br>amountDue:
            <%=order.amountDue%>
        </br>
           <br>paid:
            <%=order.paid%>
      </br>
    <br>
    <a href="order/delete/<%= order._id %>" class="btn btn-danger"> Delete </a>
    <a href="order/details/<%= order._id %>" class="btn btn-info"> Details </a>
    <a href="order/edit/<%= order._id %>" class="btn btn-warning"> Edit </a>
  </div>
  </div>
    <% } %>
 
</div>
</div>
</div>
