
<!-- Author : sri Anurag sai Alladi -->

<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="name" name="email" value="<%= order.email %>" required>
      </div>
      <div class="form-group">
        <label for="datePlaced">datePlaced</label>
        <input type="text" class="form-control" id="breed" name="datePlaced" value="<%= order.datePlaced %>">
      </div>
      <div class="form-group">
        <label for="dateShipped">dateShipped</label>
        <input  type="text" class="form-control" id="age" name="dateShipped" value="<%= order.dateShipped %>" required>
      </div>
  
      <div class="form-group">
        <label for="paymentType">paymentType</label>
        <input type="text" class="form-control" id="age" name="paymentType" value="<%= order.paymentType %>" required>
      </div>
  
      <div class="form-group">
        <label for="amountDue">amountDue</label>
        <input type="text" class="form-control" id="age" name="amountDue" value="<%= order.amountDue %>" required>
      </div>
  
      <div class="form-group">
        <label for="paid">paid</label>
        <input type="text" class="form-control" id="age" name="paid" value="<%= order.paid %>" required>
      </div>
  
  
  
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  
  
  </div>