<!-- Author : Mushafiq -->
<br/>
<br/>
<h2>product details</h2>
<br/>
<br/>   ID:
<%=  product._id %>
  <br> productKey:
  <%=product.productKey%>
    <br/> description:
    <%=product.description%>
      <br/> unitPrice:
      <%=product.unitPrice%>
     
        <br/>
        <br/>
            <br/>
            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>