<!-- author: naveenlagudu  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="name" name="email" value="<%= customer.email %>" required>
      </div>
      <div class="form-group">
        <label for="given">Given</label>
        <input type="text" class="form-control" id="breed" name="given" value="<%= customer.given %>">
      </div>
      <div class="form-group">
        <label for="family">Family</label>
        <input  type="text" class="form-control" id="age" name="family" value="<%= customer.family %>" required>
      </div>
  
      <div class="form-group">
        <label for="street1">Street- 1</label>
        <input type="text" class="form-control" id="age" name="street1" value="<%= customer.street1 %>" required>
      </div>
  
      <div class="form-group">
        <label for="street2">Street- 2</label>
        <input type="text" class="form-control" id="age" name="street2" value="<%= customer.street2 %>" required>
      </div>
  
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="age" name="city" value="<%= customer.city %>" required>
      </div>
  
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="age" name="state" value="<%= customer.state %>" required>
      </div>
  
      <div class="form-group">
        <label for="zip">Zip</label>
        <input type="number" class="form-control" id="age" name="zip" value="<%= customer.zip %>" required>
      </div>
  
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="age" name="country" value="<%= customer.country %>" required>
      </div>
  
  
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  
  
  </div>